// Main Container Node
.container {
    //border: 2px solid magenta; //temporary
    width: 100vw;
    height: 100vh;
    display:  flex;
    align-items: center;
    justify-content: center;

//card base 
    .card {
        background-color: $dark-blue;
        width: 88%;
        max-width: 41rem;
        border-radius: 1.5rem;
        padding: 2.5rem;
        
        
        .star{
            background-color: $medium-grey;
            width: 4rem;
            height: 4rem;
            padding: 1.2rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 1.4rem;
            }

    
        }

        .title {
            font-size: 2.4rem;
            color: $white;
            margin-top: 1.9rem;
        }

        .text {
            color: $light-grey;
            font-size: 1.42rem;
            line-height: 2.2rem;
            margin-top: 1.2rem;
        }
            //Rating buttons
        .ratingWrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .ratingButton {
                color: $light-grey;
                font-size: 1.3rem;
                font-weight: 700;
                background-color: $medium-grey;
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 2.6rem;

                div {
                    transform: translateY(20%);
                }

                // active and hover states
                &:hover {
                    background-color:$orange ;
                    cursor: pointer;

                    div{
                        color: $white;
                    }
                }
                
            }
            .active {
                background-color: $light-grey;
                
                div {
                    color: $white;
                }
            }
        }

        //Submit Button 
        .submitButton{
            background-color: $orange;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 2.5rem;
            padding: 1.3rem;
            border-radius: 4rem;

            div{
                text-transform: uppercase;
                color: $white;
                font-size: 1.4rem;
                letter-spacing: .1rem;
            }
            //Submit Button Hover State
            &:hover {
                background-color: $white;
                cursor: pointer;

                div{
                    color: $orange;
                    font-weight: 700;
                }
            }
            
        }
        // Result Card 
        .card-content-2 {
            display: flex;
            flex-direction: column;
            align-items: center;

            //image scaling and margin
            img {
                width: 14.5rem;
                margin-top: 1rem;
            }
            .lottie  {
                margin: -2rem;
                padding: -2rem;
            }
            //text alignment
            .text{
                text-align: center;
                margin-bottom: 1.52rem;
            }

            // result section
            .result {
                background-color: $medium-grey;
                padding: .8rem 1.4rem;
                border-radius: 2rem;
                margin-top: 2.4rem;
                margin-bottom: .6rem;
                transform: translateX(3%);
                
                 div {
                    color: $orange;
                    font-size: 1.45rem;
                 }
            }
        }
        .hide { //currently hiding
            display: none; 
         }
    }
    
}